@charset "UTF-8";
/* CSS Document */
/*------------------------------------------------
--------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
  1.1 - Headings
  1.2 - Body Copy
  1.3 - Buttons
  1.4 - Forms
  1.5 - Lists
  1.6 - Tables
2.0 - Navigation Menus
  2.1 - Main
  2.2 - Sub
  2.3 - Footer
3.0 - Content
  3.1 - Site Structure
  3.2	- Site Header
  3.3	- Site Footer
4.0 - Media
5.0 - Utility =========== just for classes
  5.1 - Text Sizes
  5.2 - Colors
  5.3 - Alignments
--------------------------------------------------------------*/

/* start with small screens and base styles first */

/* --------------------------------------------------
1.0 Typography 
-------------------------------------------------- */
body {
	font-family: 'Roboto Condensed', sans-serif;
}
#works a, p{
	color: #58595B;
}
#bicycle p, .col-1-6 a, footer ul li a, footer p  {
	color: #fff;
}
h2, footer ul a:hover, nav ul li a:hover  {
	color: #f99d39;
}
#bicycle .col-1-2:nth-child(2) {
	font-size: 1rem;
}
#bicycle .col-1-2:first-child, #bicycle .col-1-2:nth-child(2), footer p {
	font-weight: 300;
}
.col-1-6 a, nav ul li a, footer ul li a {
	text-decoration: none;
}
/* --------- 1.1 Headings --------- */
h2, #works h3 {
	text-transform: uppercase;
}
h2 {
	padding: 48px 0px 48px 0px;
	font-size: 1.5rem;
}
h3, nav ul li a {
	color: #4e61ac;
}
#works h3 {
	padding-top: 40px;
}
header .col-1-5 {
	margin: 1rem 0rem 0rem 0rem;
}
/* --------- 1.2 Body Copy --------- */
#bicycle p, h2, #works h3, #works p, .col-3-5 {
	text-align: center;
}
#bicycle .col-1-2:first-child {
	font-size: 4.4rem;
	padding: 80px 0px 20px 0px;
}
#bicycle .col-1-2:nth-child(2){
	line-height: 1.5rem;
	margin-bottom: 3rem;
}
h3 + p {
	font-size: .8rem;
}
/* --------- 1.3 Buttons --------- */
.hoverParent {
	position: relative;
	float: left;
}
.hoverParent:hover .hoverContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #bcbec0;
}
.hoverContent {
	display: none;
}
.hoverParent:hover .hoverContent {
	display: block;
}
.col-1-6:first-child {
	margin-left: 21rem;
}
.col-1-6:last-child {
	margin-right: 21rem;
}
.col-1-6 a {
	background-color: #f99d39;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.col-1-6:first-child a {
	padding: 10px 47px;
}
.col-1-6:last-child a {
	padding: 10px 40px;
}
.col-1-6 a:hover, footer {
	background-color: #4e61ac;
}
#about ul li:first-child a{
	background: url(../img/sprite-fb.png) no-repeat;
}
#about ul li:last-child a {
	background: url(../img/sprite-twitter.png) no-repeat;
}
#about ul li:first-child a, #about ul li:last-child a {
	width: 25px;
	height: 25px;
}
#about ul li:first-child a:hover, #about ul li:last-child a:hover {
	background-position: 0 -25px;
}
#about ul li:first-child a, #about ul li:last-child a, ul li {
	display: inline-block;
}


/* --------- 1.4 Forms --------- */
/* --------- 1.6 Tables --------- */
/* --------- 1.5 Lists --------- */

/* ------------------------------------
2.0 Navigation 
---------------------------------------- */
nav ul li a{
	padding-left: 32px;
	font-size: 1.2rem;
}
nav ul {
	margin-top: 2rem;
}
ul {
	padding: 0px;
}
/* ------------------------------------
3.0 Content
---------------------------------------- */
/* --------- 3.1 Site Structure ---------*/
#works div, #about .row {
	margin-bottom: 2rem;
}
header .col-1-5, .wrapper, .col-1-2, .col-3-5 {
	margin: 0 auto;	
}
/* --------- 3.3 Site Footer --------- */
footer .col-1-5 {
	margin: 2.5rem -5.5rem 0rem 0rem;
}
footer p {
	margin-top: 3.5rem;
	font-size: .8rem;
}
footer ul li {
	padding: 20px;
}
footer ul {
	margin-top: 2.4rem;
}

/* ------------------------------------
4.0 Media
---------------------------------------- */
#bicycle {
	background: url(../img/hero.jpg) no-repeat;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
#work-1 {
	background: url(../img/work-1.png) no-repeat;
}
#work-2 {
	background: url(../img/work-2.png) no-repeat -40px;
}
#work-3 {
	background: url(../img/work-3.png) no-repeat;
}
#work-4 {
	background: url(../img/work-4.png) no-repeat;
}
#work-1, #work-2, #work-3, #work-4, #team-1, #team-2, #team-3, #team-4 {
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	width: 200px;
	height: 200px;
}
#team-1 {
	background: url(../img/team-1.jpg) no-repeat -40px;
}
#team-2 {
	background: url(../img/team-2.jpg) no-repeat -15px -60px;
}
#team-3 {
	background: url(../img/team-3.jpg) no-repeat -50px;
}
#team-4 {
	background: url(../img/team-4.jpg) no-repeat -50px -30px;
}
#team-1, #team-2, #team-3, #team-4 {
	margin-right: 2rem;
}
#team-2, #team-4 {
	margin-left: 4.5rem;
}
#team-1, #team-3 {
	margin-bottom: 4.5rem;
}
#team-1 + .col-2-9, #team-2 + .col-2-9, #team-3 + .col-2-9, #team-4 + .col-2-9 {
	padding-top: 32px;
}
/* ------------------------------------
5.0 Utility
---------------------------------------- */
*,*:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	width: 70%; 
}
.row:after {
	clear: both;
	content:"";
	display: table;
}
[class*='col-'] {
	float: left;
	margin-bottom: 20px;
	padding-right: 20px;
}
[class*='col-']:last-of-type{
	padding-right: 0;
}
.f-right {
	float:right;
}
.f-none {
	float: none;
}
.col-1-2 {
	width: 50%;
}
.col-1-4 {
	width: 25%;
}
.col-1-5 {
	width: 20%;
}
.col-1-6 {
	width: 16.66%;
	margin-bottom: 4rem;
	margin-left: -10px;
}
.col-1-8 {
	width: 12.5%
}
.col-3-5 {
	width: 60%;
	margin-bottom: 5.5rem;
	line-height: 1.2rem;
}
.col-2-9 {
	width: 22.2%;
}













@media (max-width: 480px) {
/*------------------------------------------------
--------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
  1.1 - Headings
  1.2 - Body Copy
  1.3 - Buttons
  1.4 - Forms
  1.5 - Lists
  1.6 - Tables
2.0 - Navigation Menus
  2.1 - Main
  2.2 - Sub
  2.3 - Footer
3.0 - Content
  3.1 - Site Structure
  3.2	- Site Header
  3.3	- Site Footer
4.0 - Media
5.0 - Utility =========== just for classes
  5.1 - Text Sizes
  5.2 - Colors
  5.3 - Alignments
--------------------------------------------------------------*/
/* --------------------------------------------------
1.0 Typography 
-------------------------------------------------- */
/* --------- 1.1 Headings --------- */
	body > header .col-1-5{
		padding-left: 120px;
	}
	#bicycle .col-1-2:first-child {
		font-size: 3.2rem;
		padding-top: 32px;
	}
	h3 {
		font-size: 1.5rem;
		margin-top: 0rem;
	}
	#about h3 {
		margin-top: 2rem;
	}
/* --------- 1.2 Body Copy --------- */
	#bicycle .col-1-2:nth-child(2), .col-3-5, .col-2-9 p, .hoverContent p {
		font-size: 1.2rem;
	}
	.col-3-5 {
		margin-bottom: 3rem;
		line-height: 1.5rem;
	}
	p, h3 {
		text-align: center;
	}

	.col-1-4 h3, .col-1-4 p{
		color: #fff;
	}
	.col-1-4 p {
		font-weight: 300;
	}
/* --------- 1.3 Buttons --------- */
	#works a {
		text-decoration: none;
	}
	#about ul li:first-child a {
		background: url(../img/sprite-mobile-fb.png) no-repeat;
	}
	#about ul li:last-child a {
		background: url(../img/sprite-mobile-tw.png) no-repeat;
	}
	#about ul li a:first-child {
		width: 50px;
		height: 50px;
	}
	#about ul li:first-child a:hover, #about ul li:last-child a:hover {
	background-position: 0 -50px;
	}
	#about ul li:first-child a, #about ul li:last-child a {
	display: inline-block;
	}
/* --------- 1.4 Forms --------- */
/* --------- 1.6 Tables --------- */
/* --------- 1.5 Lists --------- */
	#about ul {
		padding-left: 140px;
	}
	footer ul {
		padding-left: 30px;
		font-size: 1.5rem;
	}
/* ------------------------------------
2.0 Navigation 
---------------------------------------- */

	nav ul {
		padding-left: 50px;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
/* ------------------------------------
3.0 Content
---------------------------------------- */
/* --------- 3.1 Site Structure ---------*/
	.wrapper {
		width: 80%;
	}
	.col-1-4, .col-1-8, .hoverParent {
		float: none;
	}
	.col-1-5, .col-1-2, .col-1-4, .col-3-5, #work-1, #work-2, #work-3, #work-4, .col-2-9{
		width: 100%;
	}
	.col-1-6 {
		width: 50%;
		margin-bottom: 0rem;
		padding: 0px 0px 50px 0px;
	}
	.col-1-6:first-child {
		margin-left: 0rem;
	}
	.col-1-6:last-child {
		margin-right: 0rem;
	}
	.col-1-4, .col-1-8 {
		margin: 0rem;
		padding: 0px;
	}
	.col-1-4 {
		display: inline;
	}
	.col-1-8 {
		width: 35%;
		line-height: 1.3rem;
		font-size: 1rem;
		margin-left: 7rem;
	}
	#team-1 + .col-2-9, #team-2 + .col-2-9, #team-3 + .col-2-9, #team-4 + .col-2-9 {
		padding: 0px 0px 30px 0px;
	}
/* --------- 3.3 Site Footer --------- */
/* ------------------------------------
4.0 Media
---------------------------------------- */
	.hoverParent {
		position: static;
	}
	.hoverContent, .hoverParent:hover .hoverContent, #work-1, #work-3, #work-2, #work-4 {
		display: block;
	  	width: 100%;
	  	height: 100%;
	  	position: static;
	  	-ms-border-radius: 0;
	  	-o-border-radius: 0;
	  	-moz-border-radius: 0;
	  	-webkit-border-radius: 0;
	  	border-radius: 0;
	}
	#work-1, #work-3, #work-1.hoverParent:hover .hoverContent, #work-3.hoverParent:hover .hoverContent {
		background-color: #4e61ac;
	}
	#work-2, #work-4, #work-2.hoverParent:hover .hoverContent, #work-4.hoverParent:hover .hoverContent {
		background: none;
		background-color: #f99d39;
	}
	#works {
		width: 100%;
	}
	#works div {
		margin-bottom: 0rem;
		padding-bottom: 20px;
	}
	#team-1, #team-2, #team-3, #team-4 {
		margin: 0rem 0rem 0rem 5.2rem;
	}
	footer .col-1-5 {
		padding: 20px 0px 20px 130px;
		margin: 0rem;
	}
/* ------------------------------------
5.0 Utility
---------------------------------------- */
}




/* This quarter only need one media querie this is android size. iphone 320
@media (max-width: 420px) { 
	.wrapper {
		width: 95%;
	}
}
*/














